body,
h1,
h2,
h3,
h4,
h5,
h6,
li,
p {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.title {
  text-align: center;
  margin: 0 auto; 
  width: 150px;
}

#menu {
  background: none;
  font-size: 24px;
  padding: 20px;
  float: left;
  border: none;
}

#menu:hover{
  background: #252525;
  color: #FFFFFF;
}

h5.title {
  color: lightslategrey;
  padding-bottom: 11px;
}

#top {
  border-bottom: 1px solid lightslategray;
}

#writing-section h1{
  text-align: center;
  vertical-align: middle;
}

#container{
  display: flex;
}

#notes-section {
  width: 20%;
  border-right: 1px solid lightslategray;
}

#header{
  text-align: left;
  border-bottom: 1px solid lightslategray;
}

#header h2 {
  margin-left: 15px;
  display: inline;
}

#header button{
  float: right;
  font-size: 26px;
  border: none;
  background: none;
}

#header button:hover {
  background: #252525;
  color: #FFFFFF;
}

#note-list{
  display: flex;
  flex-direction: column;
}

#note-list h2 {
  text-align: center;
  color: lightslategray;
  margin: 5px;
}

#note-list div {
  border-bottom: 1px solid lightslategray;
}

#note-list div h3, h4 {
  margin-left: 10px;
  margin-top: 3px;
  margin-bottom: 3px;
}

#note-list div h5 {
  margin-left: 10px;
  margin-top: 1px;
  margin-bottom: 1px;
  font-family: 'Courier New', Courier, monospace;
  color: gray;
}

#note-list div:hover{
  background: #252525;
  color: #FFFFFF;
}

#writing-section {
  width: 80%;
}

input[type=text] {
  border: none;
}

#writing-section h1 {
  color: lightslategray;
}